.masthead {
    background-color: #0D1B2E;
    color: white;
}

div,
header,
button {
    text-align: center;
}

#inputText,
#submittedText {
    margin: 0 auto;
    width: 400px;
    height: 150px;
}

#inputText,
#submittedText {
    border: 10px solid rgb(88, 88, 245);
    border-radius: 10px;
}

#submit-btn {
    border-radius: 10%;
    margin: 20px;
}

#search-btn {
    border-radius: 10%;
    margin: 5px;
}

#clear-btn {
    border-radius: 10%;
    margin-top: -20px;
}

form {
    margin: 30px;
}

span {
    color: red;
    background: yellow;
}

p {
    word-break: break-all;
    margin-top: 50px;
    white-space: pre;
    /* treat all spaces as meaningful */
}